node_modules
.vscode
build
public/js
public/css
stats.json
*Zone.Identifier
scripts
tmp
temp
*.dump
cypress/integration/examples
cypress/screenshots
cypress/videos
.nyc_output
coverage
src/version.tsx